#map {
    width: 100vw;
    height: 100vh;
}

.stop-marker {
}

.stop-marker .route-wrapper {
    box-shadow: 0 0 0 1px black;
    border-radius: calc(.5rem + 2px);
    height: calc(1rem + 4px);
    border: 2px solid white;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

.stop-marker .route-wrapper span {
    display: block;
    height: 1rem;
    width: 1rem;
    transform: skewX(-29deg);
    border-right: 2px solid white;
}

.stop-marker .route-wrapper span:first-of-type {
    margin-left: -1rem;
    width: 2rem;
    padding-left: 1rem;
}

.stop-marker .route-wrapper span:last-of-type {
    margin-right: -1rem;
    width: 2rem;
    padding-right: 1rem;
}

.stop-marker .route-wrapper span:only-child {
    width: 1rem;
    margin: 0;
    padding: 0;
    border: 0;
    transform: none;
}

.stop-marker .annotation {
    position: absolute;
    top: -.6rem;
    left: -.6rem;
    background: white;
    border-radius: .6rem;
    height: 1.2rem;
    min-width: 1.2rem;
    white-space: nowrap;
    padding: 0 .3em;
    display: flex;
    flex-direction: column;
    z-index: 9;
    border: 1px solid black;
    font-size: 0.65rem;
    justify-content: center;
    align-items: center;
}

.bus-marker {
    width: 2rem;
    height: 2rem;
    background: url('/gtfs/display/icon/bus?fill=steelblue&stroke=white&stroke-width=0.3');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.stop-popup {
    z-index: 999;
}

.stop-popup h2 {
    font-size: 1rem;
    margin: 0;
}

.stop-popup .mapboxgl-popup-content {
    border: 1px solid black;
}

.stop-popup a.route-link {
    margin-bottom: .5rem;
    display: inline-block;
}

.stop-popup a.route-link:last-of-type {
    margin-bottom: 0;
}

.route-color-bar {
    display: inline-block;
    width: .25rem;
    margin-right: .25rem;
    background: currentColor;
}

#legend {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    z-index: 9;
}

#legend figure {
    padding: .5rem;
    margin: .25rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
    background: white;
    border-radius: 1rem;
    border: 1px solid black;
    font-size: .75rem;
}

#legend i {
    width: 1em;
    height: 1em;
    display: block;
    border-radius: 50%;
    margin-right: .5rem;
}

#legend a {
    color: inherit;
    text-decoration: none;
}